@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Blue: hsl(223, 87%, 63%);
  --PaleBlue: hsl(223, 100%, 88%);
  --LightRed: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --VeryDarkBlue: hsl(209, 33%, 12%);
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__2 {
    margin-top: 60px;
    margin-bottom: 30px;
  font-size: 25px;  
}
span{
    color: var(--Gray);
    font-weight: 500;
}
.header__3 {
    font-weight: 500;
}
form{
    display: flex;
    justify-content: space-between;
    width: 635px;
    margin-top: 40px;
    margin-bottom: 90px;
    
}
.input{
    width:420px ;
    height: 55px;
    border-radius: 50px;
    border: 1px solid var(--PaleBlue);
    padding-left: 30px;
    font-size: 20px;
    outline:none;
}
.error{
    border: 1px solid red;
}
.form__error {
   position: absolute;
    transform: translate(8%, 390%);
    font-size: 13px;
    margin-left: 1rem;
    color: hsl(0, 93%, 68%);
    font-style:italic;
   display: none;
  }
  
  .active {
    display: block;
  }

.btn{
    width: 200px;
    border-radius: 50px;
    font-size: 20px;
    background-color: var(--Blue);
    border: 1px solid var(--Blue);
    color: white;
    cursor: pointer;

}
.wrap {
}
.container {
}
.illustration {
    width: 640px;
    margin-bottom: 70px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons {
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
}
.social a {
  text-align: center;
  font-size: 17px;
  width: 30px;
  height: 30px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 24px;
  margin: 0 10px 10px 0;
  padding: 4px;
  color: var(--Blue);
}

.facebook a:hover {
  background: var(--Blue);
  color: #fff;
}
.twitter a:hover {
  background: var(--Blue);
  color: #fff;
}
.instagram a:hover {
  background: var(--Blue);
  color: #fff;
}

.copyright__text{
    color: var(--Gray);
    font-size: 13px;
}

